<ul class="list-inline">
    <li><a href="{{@blog.theme.author.github}}" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-fw fa-github"></i></a>
    </li>
    <li><a href="{{@blog.theme.author.twitter}}" class="btn-social btn-outline" title="Twitter"><i class="fa fa-fw fa-twitter"></i></a>
    </li>
    <li><a href="{{@blog.theme.author.linkedin}}" class="btn-social btn-outline" title="LinkedIn"><i class="fa fa-fw fa-linkedin"></i></a>
    </li>
    <li><a href="{{@blog.theme.author.email}}" class="btn-social btn-outline" title="Email"><i class="fa fa-fw fa-envelope"></i></a>
    </li>
    <li><a href="{{@blog.url}}/rss/" class="btn-social btn-outline" title="Rss"><i class="fa fa-fw fa-rss"></i></a>
    </li>
</ul>